<h3>Total cards: {{model.length}}</h3>

{{#each model as |card| }}
  <h3>{{link-to card.name 'cards.show' card}}</h3>
  <p><img src={{card.image}}></p>
  <p><button class="tiny secondary" {{action "delete" card on="click"}}>Delete</button></p>
{{/each}}

<p>{{link-to 'Add Card' 'cards.new'}}</p>
