<h3>{{model.name}}</h3>

<p><img src={{model.image}}></p>

<p>
<div id="correctly-matched">Correctly Matched? {{model.correctlyMatched}}</div>
</p>

<p>{{link-to 'Edit' 'cards.edit' model}}</p>
<button class="tiny secondary"{{action "delete" model on="click"}}>Delete</button>
